nav.navbar.navbar-default
    div.container-fluid
        div.navbar-header
            a.navbar-brand RssAggregator
            p.navbar-text Logged in as {{currentUser.login}}
            a.navbar-text(href="/logout") [logout]
div(ui-view="news")