.authContainer {
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  -moz-box-shadow: 0 0 2px grey;
  -webkit-box-shadow: 0 0 2px grey;
  box-shadow: 0 0 2px grey;
}
.mySubsBtn {
  margin-left: 2px;
}
.feedTitle {
  padding-left: 30px;
}
.rssUrlSelect {
  display: inline;
  width: 320px;
  height: 33px;
  margin-left: 6px;
}
.rssLink {
  text-align: left;
}
.rssTitle {
  font-weight: bold;
  padding-top: 6px;
}
.rssImg {
  clear: left;
  float: left;
  position: relative;
  margin-right: 20px;
  padding-bottom: 10px;
  font-size: small;
  text-align: center;
  font-weight: bold;
  max-height: 100px;
}
.rssDesc {
  padding-top: 6px;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: clip;
}
.rssDesc:hover {
  cursor: pointer;
}
.rssItem {
  position: relative;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rssItemInner {
  padding: 10px;
  min-height: 240px;
  max-height: 240px;
}
.clickable:hover {
  cursor: pointer;
}
.loadMoreBtn {
  margin: 10px 0 0 30px;
}
.refreshBtn {
  margin-left: 5px;
}
.readMore {
  padding-left: 6px;
}
.modalRssTitle {
  font-weight: bold;
}
.modalRssImg {
  text-align: center;
}
.addRssInput {
  width: 500px;
  margin-right: 6px;
  display: inline-block;
}
.myGlyphIcon {
  top: 2px;
}
.removeRssUrl {
  border-bottom: dashed 1px;
}
.removeRssUrl:hover {
  cursor: pointer;
}
.removeRssUrlTd {
  width: 68px;
}
.subscriptionsAlert {
  margin-top: 6px;
}
.ajaxLoader {
  font-style: italic;
  color: #858585;
  margin-left: 24px;
}
.redirect {
  margin: 0;
  padding: 0;
}
.redirectBtn {
  display: inline-block;
  margin-top: 14px;
  float: right;
}
