button.btn.btn-default.btn-sm.mySubsBtn(ng-click="openSubscriptionsModal()") My subscriptions
button.btn.btn-default.btn-sm.refreshBtn(ng-click="refreshNewsFeed()",ng-disabled="isLoading") Refresh
select.form-control.rssUrlSelect(ng-model="selectedRssId", ng-change="refreshNewsFeed()")
    option(value="all") View all
    option(ng-repeat="f in currentUser.feed", value="{{f._id.$oid}}") {{f.url}}
span.ajaxLoader(ng-show="isRefreshing") Loading, please wait ...
div.container-fluid.rssNewsContainer
    div.row(infinite-scroll='nextPage()', infinite-scroll-disabled='isLoading', infinite-scroll-distance='0')
        div.col-lg-3.rssItem(ng-repeat="n in news")
            div.rssItemInner
                span.rssTitle {{n.title}}
                p.rssDesc
                    img.rssImg(ng-show="utils.isDefined(n.enclosure)", ng-src="{{n.enclosure.url}}")
                    | {{n.description}}
                    br
                    | {{utils.formatDate(n.pubDate)}}
                    a.readMore(href="{{n.link}}", target="_blank") >>