div.modal-header.modalRssTitle {{item.title}}
div.modal-body.modalRssImg
    img(ng-show="utils.isDefined(item.enclosure)", ng-src="{{item.enclosure.url}}")
div.modal-body.modalRssDesc {{item.description}}
    a.readMore(href="{{item.link}}", target="_blank") >>>
div.modal-body Posted at {{utils.formatDate(item.pubDate)}}
div.modal-footer
    button.btn.btn-default(ng-click="$close()") Close