!!! 5
html
  head
    title RssAggregator index module
    include includes/head.jade
    script(src='/javascripts/client.js')
  body
    div(ng-app="news")
      div(ng-controller="NewsCtrl")
        h1 Hello world, #{user}