base(href="/")
script(src='/javascripts/lib/jquery.min.js')
script(src='/javascripts/lib/bootstrap.min.js')
script(src='/javascripts/lib/angular.min.js')
script(src='/javascripts/lib/angular-ui.min.js')
script(src='/javascripts/lib/ui-bootstrap.min.js')
script(src='/javascripts/lib/ui-bootstrap-tpls.min.js')
script(src='/javascripts/lib/angular-ui-router.min.js')
script(src='/javascripts/lib/angular-ui-select.min.js')
script(src='/javascripts/lib/lodash.min.js')
script(src='/javascripts/lib/restangular.min.js')
script(src='/javascripts/lib/moment-with-locales.min.js')
link(rel="stylesheet", href='/stylesheets/lib/bootstrap.min.css')
link(rel="stylesheet", href='/stylesheets/lib/bootstrap-theme.min.css')
link(rel="stylesheet", href='/stylesheets/lib/angular-ui.min.css')
link(rel="stylesheet", href='/stylesheets/lib/angular-csp.css')