!!! 5
html
  head
    title= pageName
  body
    h1 Registration
    form(name="regForm", method="post", action="/reg")
      div
        label(for="login") Login:
        input(type="text", name="login")
      div
        label(for="email") Email:
        input(type="email", name="email")
      div
        label(for="password") Password:
        input(type="password", name="password")
      input(type="submit")