!!! 5
html
    head
        title RssAggregator auth module
        include includes/head
    body
        div(ng-app="rssaggregator")
            div(ng-controller="AuthCtrl")
                div.container-fluid.authContainer
                            tabset
                                tab(heading="Login")
                                    form(name="loginForm", method="post", action="/login")
                                        label(for="login") Login:
                                        input.form-control(type="text", name="login")
                                        label(for="password") Password:
                                        input.form-control(type="password", name="password")
                                        button.btn.btn-default(type="submit") Submit
                                tab(heading="Registration")
                                    form(name="regForm", method="post", action="/reg")
                                        label(for="login") Login:
                                        input.form-control(type="text", name="login")
                                        label(for="password") Password:
                                        input.form-control(type="password", name="password")
                                        button.btn.btn-default(type="submit") Submit